
<div class="hero-foot">
    <div class="container">
        <div class="columns is-vcentered is-centered has-text-centered-mobile">
            <div class="column is-narrow">
                <img src="../../../assets/scss/spring-logo.png" alt="logo" width="112" height="28">
            </div>
            <div class="column is-narrow">
                <p><strong>Spring Blog</strong> by <a href="../../../../LICENSE.md"></a> by Braian Silva </p>
            The source cod is licended <a href="mit-license">MIT</a>. 
            </div>
        </div>
    </div>
</div>